---
import "../styles/global.css";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>Pixel Savvy</title>

<!-- Favicons -->
<link rel="icon" href="/public/psLarge.ico" type="image/x-icon" />
<link rel="icon" href="/public/psLarge.png" type="image/png" />
<link rel="icon" href="/public/psSmall.png" type="image/png" />
<link rel="icon" href="/public/psSmall.ico" type="image/x-icon" />
<!-- Favicons for different sizes -->

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
  rel="stylesheet"
/>
<!--- Keen Slider -->
<link
  href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css"
  rel="stylesheet"
/>
